@media only screen and (max-width: 767.9px) {
  body {
    background: #e5e5e5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 4px 16px 2px #c5c2c2;
  }

  .union {
    width: 23px;
    padding-right: 20px;
  }

  .top_navbar {
    display: none;
  }

  #logo {
    text-decoration: none;
    width: 106px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 17px;
    color: #6070ff;
  }

  .logo-ak {
    width: 120px;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/mobie.png);
    width: 100%;
    height: 680px;
    left: 0;
    top: 70px;
    margin-bottom: 20px;
    margin-top: 69px;
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .primary-text {
    width: 317px;
    height: 150px;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    color: #172b4d;
  }

  .paragraph {
    width: 327px;
    height: 128px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 26px;
    margin-top: 0;
  }

  .connect {
    width: 177px;
    height: 14px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    padding-left: 26px;
    color: #1a30ff;
    margin-right: 167px;
    text-decoration: none;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170.17px;
    height: 20px;
    list-style: none;
    padding-left: 28px;
    position: relative;
    bottom: 22px;
    right: 75px;
  }

  .meta {
    margin-top: 3px;
  }

  /* work section */

  .works {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 60px;
    align-items: center;
    margin-top: 100px;
    width: 337px;
  }

  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding-bottom: 25px;
    border-radius: 20px;
  }

  .card-img {
    width: 295px;

    /* height: 220px; */
    border-radius: 8px;
  }

  .block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 295px;
    height: 288px;
    position: relative;
    bottom: 22px;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 295px;
    height: 80px;
  }

  .title1 {
    color: #172b4d;
    width: 295px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    height: 32px;
    margin-top: -8px;
    margin-left: -18px;
  }

  .A {
    margin-right: -39px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #344563;
  }

  .BC {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4b5563;
  }

  .Li {
    width: 107px;
    height: 16px;
    line-height: 16px;
    padding-left: 18px;
    list-style: none;
  }

  .box2 {
    width: 295px;
    height: 76px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .card-para {
    color: #344563;
  }

  .box2-ul {
    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
    align-items: center;
    padding: 1px;
    gap: 26px;
    width: fit-content;
    height: 24px;
    list-style: none;
  }

  .box2-li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #384cff;
    background: #ebebff;
    border-radius: 8px;
    border: none;
    padding: 6px;
  }

  .big-btn {
    width: 126px;
    height: 48px;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
  }

  .icon {
    color: #c1c7d0;
    font-size: 8px;
    position: relative;
    bottom: 1px;
    right: 1px;
  }

  /* About Myself */

  .desktop-v {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-top-right-radius: 100px;
    margin-top: 150px;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 551.15px;
    background-color: #fff;
    border-top-right-radius: 85px;
  }

  #about-text {
    margin-top: 60px;
  }

  .about-para {
    position: relative;
    bottom: 60px;
  }

  .about-connect {
    position: relative;
    bottom: 30px;
  }

  .about-social {
    position: relative;
    left: 1px;
  }

  .about-btn {
    width: 166px;
    height: 45px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    position: relative;
    left: 27px;
  }

  /* section 2  */

  .section2-ul {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: auto;
    background-color: #fff;
    margin-top: -1px;
    padding-bottom: 190px;
  }

  .section2-li {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 23px;
    width: 288px;
  }

  .section2-h2 {
    flex-grow: 2;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .icon2 {
    text-align: center;
    position: relative;
    top: 22px;
    margin-right: 24px;
    cursor: pointer;
  }

  .lists {
    display: flex;
    flex-direction: column;
    width: 230px;
    padding: 3px;
    margin-bottom: 20px;
  }

  .lan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    background-color: #f7f7f9;
    border-radius: 14px;
    margin-bottom: 10px;
  }

  .section2-h3 {
    flex-grow: 1;
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .lan-img {
    width: 50px;
  }

  .hr {
    border-bottom: 1px solid black;
    width: 286px;
  }

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: -90px;
    background: #6070ff;
    border-top-left-radius: 100px;
    background-image: url(./images/contact\ form\ shapes-mobile@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .contact_paragraph {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 304px;
    color: #ebebff;
    margin-top: -11px;
  }

  .contact_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #fff;
    margin-top: 100px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
  }

  .form-section input {
    width: 273px;
    margin: 10px 30px;
    height: 32px;
    padding: 5px 14px;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .label {
    display: none;
  }

  #message {
    width: 273px;
    height: 123px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    padding: 5px 14px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 10px 30px 20px 30px;
  }

  .contact_button {
    width: 133px;
    height: 45px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    position: relative;
    left: 30px;
    margin-bottom: 40px;
  }

  /* button color */

  #logo:hover {
    color: rgb(184, 184, 184);
  }

  #logo:active {
    color: rgb(126, 126, 126);
  }

  .connect:hover {
    color: rgb(184, 184, 184);
  }

  .connect:active {
    color: rgb(126, 126, 126);
  }

  .about-connect:hover {
    color: #cfd8dc;
  }

  .btn_btn:hover {
    color: #fff;
    background-color: #6070ff;
    border: 1px solid #fff;
  }

  .btn_btn:active {
    color: #fff;
    background-color: #2230d2;
    border: 1px solid #fff;
  }

  /* mobile menu  */

  .mobile-menu {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 30%;
    padding-left: 10%;
    list-style: none;
    gap: 32px;

    /* position: absolute; */
    position: fixed;
    letter-spacing: 3px;
    top: -4%;
    left: 0%;
    width: 90%;
    height: 640px;
    overflow: visible;
    background-color: #6070ff;
    opacity: 0.9;
    z-index: 1;
  }

  .mobile-back {
    filter: blur(3px);
  }

  .img_remove {
    visibility: hidden;
  }

  #cross {
    position: relative;
    left: 80%;
    bottom: 12%;
    width: 9px;
    color: #fff;
    font-size: 54px;
    font-weight: 100;
  }

  .navbar_li a {
    text-decoration: none;
    color: #fff;
  }

  .navbar_li a:active {
    text-decoration: none;
    color: #a6adea;
  }
}

/* ---------------------------- Desktop_version ------------------------------------- */

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #e5e5e5;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 4px 10px 3px #c5c2c2;
  }

  #logo {
    text-decoration: none;
    margin-left: -12%;
  }

  .logo-ak {
    width: 120px;
  }

  .union {
    display: none;
  }

  .top_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 258px;
    height: 40px;
    gap: 8px;
    padding-left: 30px;
    position: relative;
    left: 40%;
  }

  .navbar_li a {
    display: inline-block;
    width: 62px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #344563;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar_li a:hover {
    color: #6070ff;
    font-size: 16px;
    border-radius: 10px;
  }

  /* main-section */

  .main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    margin-top: 70px;
    padding-top: 88px;
    background: #fff;
    background-image: url(./images/Header\ bg@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-position-x: center;
    border-bottom-left-radius: 100px;
  }

  .primary-text {
    max-width: 470px;
    height: 122px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    line-height: 60px;
    margin-top: 200px;
    margin-left: 17%;
  }

  .paragraph {
    max-width: 72%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin: -25px 30px -8px 17%;
  }

  .connect {
    width: 117px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #384cff;
    margin-top: -25px;
    margin-left: 17%;
    text-decoration: none;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170.17px;
    height: 20px;
    list-style: none;
    padding-left: 30px;
    position: relative;
    bottom: 20px;
    margin-left: 15%;
  }

  .meta {
    margin-top: 4px;
  }

  /* work section */

  .works {
    width: 100%;
    background-color: #e5e5e5;
    display: grid;
    padding-top: 132px;
    padding-bottom: 132px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid white;
    border-radius: 20px;
    margin: 100px;
    background-color: #fff;
  }

  .Aa {
    order: 2;
  }

  .Bb {
    order: 1;
  }

  .block1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-img {
    padding: 30px;
    width: 100%;
  }

  .block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    margin: 40px -1px;
    position: relative;
    bottom: 27px;
  }

  .title1 {
    width: 100%;
    height: 46px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 40px;
    height: 32px;
    margin-top: -1px;
    margin-left: -55px;
  }

  .A {
    margin-right: -39px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #344563;
  }

  .BC {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #4b5563;
  }

  .Li {
    width: 107px;
    height: 16px;
    line-height: 16px;
    padding-left: 18px;
    list-style: none;
  }

  .box2 {
    width: 100%;
    height: 76px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 150px;
    position: relative;
    bottom: 80px;
  }

  .card-para {
    color: #344563;
    max-width: 90%;
    min-width: 20%;

    /* height: 65px; */
  }

  .box2-ul {
    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
    align-items: center;
    padding: 1px;
    gap: 26px;
    width: fit-content;
    height: 24px;
    list-style: none;
  }

  .box2-li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #384cff;
    background: #ebebff;
    border-radius: 8px;
    border: none;
    padding: 5px;
  }

  .big-btn {
    width: 126px;
    height: 48px;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    cursor: pointer;
  }

  .icon {
    color: #c1c7d0;
    font-size: 8px;
    position: relative;
    bottom: 1px;
    right: 1px;
  }

  /* about page  */

  .desktop-v {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    border-top-right-radius: 100px;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    background-color: #fff;
    padding: 30px;
    padding-right: 1px;
  }

  .about-connect {
    margin-top: 25px;
  }

  .about-social {
    position: relative;
    right: 20px;
    top: 20px;
  }

  .about-para {
    max-width: 72%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: -25px 30px -8px 17%;
  }

  .about-btn {
    width: 166px;
    height: 45px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    margin-left: 17%;
    margin-top: 39px;
  }

  .section2 {
    width: 60%;
    padding: 30px 1px;
    background: #fff;
    border-top-right-radius: 100px;
  }

  .section2-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 92%;
    height: auto;
    background-color: #fff;
    margin-top: 222px;
    padding-bottom: 400px;
  }

  .section2-li {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 23px;
  }

  .section2-h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    color: #344563;
  }

  .icon2 {
    position: relative;
    top: 23px;
    right: 28px;
    cursor: pointer;
  }

  .lists {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 22px;
    column-gap: 37px;

    /* width: 54%; */
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin-bottom: 25px;
  }

  .lan {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    text-align: center;
    width: 129px;
    height: 108px;
    padding-top: 18px;
    padding-right: -8px;
    background: #f7f7f9;
    border-radius: 10px;
  }

  .lan-img {
    width: 50px;
  }

  .hr {
    border-bottom: 2px solid rgb(188, 188, 188);
    position: relative;

    /* top: 44px; */
    width: 92%;
  }

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 750px;
    background-color: #3d49b8;
    border-top-left-radius: 100px;
    background-image: url(./images/contact\ form\ background\ shapes@2x.png);
    background-size: 100%;
    background-position-y: 80px;
    background-repeat: no-repeat;
    margin-top: -100px;
  }

  .contact_paragraph {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 540px;
    color: #fff;
    margin-top: -31px;
  }

  .contact_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #fff;
    margin-top: 100px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-section input {
    width: 400px;
    margin: 10px 30px;
    height: 32px;
    padding: 5px 14px;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  #message {
    width: 400px;
    height: 123px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    padding: 5px 14px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 10px 30px 20px 30px;
  }

  .contact_button {
    width: 133px;
    height: 45px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    margin-bottom: 40px;
  }

  #logo:hover {
    color: rgb(184, 184, 184);
  }

  #logo:active {
    color: rgb(184, 184, 184);
  }

  .connect:hover {
    color: #cfd8dc;
  }

  .connect:active {
    color: rgb(184, 184, 184);
  }

  .about-connect:hover {
    color: #cfd8dc;
  }

  .btn_btn:hover {
    color: #fff;
    background-color: #6070ff;
    border: 1px solid #fff;
  }

  .btn_btn:active {
    color: #fff;
    background-color: #2230d2;
    border: 1px solid #fff;
  }
}

.label {
  display: none;
}

/* pop up */

.all {
  filter: blur(8px);
  background: #c1c7d0;
}

#popup_window {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup {
  background-color: #fff;
  margin: 4% auto;
  padding: 5px 25px 40px 25px;
  border-radius: 20px;
  width: 85%;
}

#pop-close {
  float: right;
  margin-top: 18px;
  background: #fff;
  border: none;
  font-size: 30px;
  color: #67798e;
}

#pop-frame {
  max-width: 350px;
}

#pop-img {
  padding: 1px;
  width: 100%;
  height: 100%;
}

.pop-btn {
  margin-left: 2px;
  width: 145px;
  font-size: 18px;
  font-weight: 500;
}

.pop-buttons {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1.5px solid #ebecf0;
}

@media only screen and (max-width: 767.9px) {
  .popup {
    background-color: #fff;
    margin: 8% auto;
    padding: 10px 15px 40px 15px;
    border-radius: 20px;
    width: 83%;
  }

  .pop-para {
    width: 95%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .pop-ul {
    flex-wrap: wrap;
    width: 300px;
    height: 20px;
  }

  .small-box {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .pop-para {
    max-width: 65%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  #pop-img {
    margin-top: 20px;
  }

  .pop-ul {
    width: 300px;
    height: 1px;
  }

  .pop-box1 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  .small-box {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
  }
}

/* form validation */

.error-message {
  color: #d62b2b;
  margin: 3px 42px;
  position: relative;
  bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .error-message {
    position: relative;
    bottom: 32px;
  }
}

.hide {
  display: none;
}
